*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}
body{
    background: black;
}

img{
 width:95vw;
 padding-top: 50px;
 
}
.container{
  background-color: black;
  
}
.nav ul{
  display: flex;
  flex-direction: row;
  color:#ffff;
  padding-left: 20px
 
  color:white;
  height:20px;
  width: 95vw;
}
.nav{
  padding-left:50vw;
 
 
}

.nav button{
  color:white;
  padding-left: 15px;
  padding-bottom: 20px;
 background: black;
  border:0;
  height: auto
}
.nav ul a i {
  color:white;
}
.nav button:hover{
  color: black;
  background:white;
  padding:0;
}

.contact,.exp{
  display: none;
  width: 100vh;
  overflow:hidden;
}



@media screen and (max-width:400px){
.nav{
    padding-left: 20px;
}
.home a{
   position: absolute;
    bottom:10%;
    left:40%;
  }
img{
  width:95vw;
  padding-top: 100px;
  
}
  
 .home a{
   font-size:1px;
   top:27%;
 
 } 
 .exp{
   margin-top: 0;
 }
 .phil{
   margin: 0;
 }
 .nav{
   
   padding-bottom: 20px;
 }
  
}

@media screen and (min-height:950px,min-width:900px){

.home,phil,exp,contact,attach,portfolio{
  padding-top:200px;
  height: 100vh;
    
}


    
}
